In [20]:
from pathlib import Path 

import pandas as pd
import sqlalchemy as db

In [13]:
def create_table(fp,
                 conn):
    try:
        with open(fp, 'r') as f:
            text = f.read()
    except FileNotFoundError:
        logging.error(traceback.format_exc())
    text = text.replace('\t', ' ')
    text = text.replace('\n', '')
    statement = db.text(text)
    conn.execute(statement)

In [39]:
address = '192.168.0.149'
port = '3306'
user = 'amos'
database = 'tv'
password = 'M0$hicat'
connection_string = f'mysql+pymysql://{user}:{password}@{address}:{port}/{database}'
engine = db.create_engine(connection_string)
conn = engine.connect()

In [17]:
create_table('./data/create-table_faces.sql', conn)

In [21]:
faces_df = pd.read_csv('./data/faces.csv', index_col=0)
faces_df.head()

,imdb_id,frame_num,face_num,x1,y1,x2,y2,img_height,img_width,area,pct_of_frame,season,episode,encoding,filename,character,cast_id,cluster
0,1811020,192,0,798,196,916,314,1080,1920,13924,0.007,1,1,"[-0.1581144630908966, 0.11875572055578232, 0.0...",S01E01_192_0.png,NaN,NaN,-1.0
1,1811020,216,0,1068,389,1491,812,1080,1920,178929,0.086,1,1,"[-0.035924218595027924, 0.09460100531578064, 0...",S01E01_216_0.png,NaN,NaN,NaN
2,1811020,216,1,912,17,1205,311,1080,1920,86142,0.042,1,1,"[-0.10312943160533905, 0.1261938065290451, 0.0...",S01E01_216_1.png,NaN,NaN,NaN
3,1811020,240,0,1090,106,1384,400,1080,1920,86436,0.042,1,1,"[-0.18763160705566406, 0.08110883831977844, 0....",S01E01_240_0.png,NaN,NaN,NaN
4,1811020,240,1,674,522,968,816,1080,1920,86436,0.042,1,1,"[-0.11751651763916016, 0.1057925745844841, 0.0...",S01E01_240_1.png,NaN,NaN,NaN

In [22]:
df = faces_df.drop(['filename', 'cluster'], axis=1).rename({'character': 'character_name'}, axis=1)
df.head()

,imdb_id,frame_num,face_num,x1,y1,x2,y2,img_height,img_width,area,pct_of_frame,season,episode,encoding,character_name,cast_id
0,1811020,192,0,798,196,916,314,1080,1920,13924,0.007,1,1,"[-0.1581144630908966, 0.11875572055578232, 0.0...",NaN,NaN
1,1811020,216,0,1068,389,1491,812,1080,1920,178929,0.086,1,1,"[-0.035924218595027924, 0.09460100531578064, 0...",NaN,NaN
2,1811020,216,1,912,17,1205,311,1080,1920,86142,0.042,1,1,"[-0.10312943160533905, 0.1261938065290451, 0.0...",NaN,NaN
3,1811020,240,0,1090,106,1384,400,1080,1920,86436,0.042,1,1,"[-0.18763160705566406, 0.08110883831977844, 0....",NaN,NaN
4,1811020,240,1,674,522,968,816,1080,1920,86436,0.042,1,1,"[-0.11751651763916016, 0.1057925745844841, 0.0...",NaN,NaN

In [35]:
df.head()

,imdb_id,frame_num,face_num,x1,y1,x2,y2,img_height,img_width,area,pct_of_frame,season,episode,encoding,character_name,cast_id
0,1811020,192,0,798,196,916,314,1080,1920,13924,0.007,1,1,"[-0.1581144630908966, 0.11875572055578232, 0.0...",NaN,NaN
1,1811020,216,0,1068,389,1491,812,1080,1920,178929,0.086,1,1,"[-0.035924218595027924, 0.09460100531578064, 0...",NaN,NaN
2,1811020,216,1,912,17,1205,311,1080,1920,86142,0.042,1,1,"[-0.10312943160533905, 0.1261938065290451, 0.0...",NaN,NaN
3,1811020,240,0,1090,106,1384,400,1080,1920,86436,0.042,1,1,"[-0.18763160705566406, 0.08110883831977844, 0....",NaN,NaN
4,1811020,240,1,674,522,968,816,1080,1920,86436,0.042,1,1,"[-0.11751651763916016, 0.1057925745844841, 0.0...",NaN,NaN

In [40]:
df.to_sql('faces', conn, index=False, if_exists='replace')

249536

In [41]:
conn.close()

In [28]:
temp = df.iloc[4]
h = (temp['y2'] - temp['y1'])
w = (temp['x2'] - temp['x1'])
print(h * w)

86436

In [29]:
temp = df.iloc[3]
h = (temp['y2'] - temp['y1'])
w = (temp['x2'] - temp['x1'])
print(h * w)

86436